.legend {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.keys {
    display: flex;
    gap: 1.75rem;
}

.title {
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.key {
    display: flex;
    gap: 0.35rem;
    align-items: center;
    font-weight: 380;
}

.level {
    width: 15px;
    height: 15px;
    border-radius: 7px;
}

.one {
    background-color: var(--shell-level-1-colour);
}

.two {
    background-color: var(--shell-level-2-colour);
}

.invalid-p-electron {
    background-image: linear-gradient(black 50%, white 50%);
    border: 1px solid black;
    border-radius: 50%;
}

.invalid-s-electron {
    background-image: radial-gradient(black 50%, white 50%);
    border: 1px solid black;
    border-radius: 50%;
}
