@font-face {
    font-family: "SpaceGrotesk";
    src: url("./SpaceGrotesk.ttf") format("truetype");
    font-weight: 100 1000;
}

body {
    margin: 0;
}

:root {
    --shell-level-1-colour: oklch(0.3 0.5 315 / 0.5);
    --shell-level-2-colour: oklch(1 0.2 52 / 0.4);
}

#root {
    /* shape */
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 20vw;

    /* layout */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3.5rem;

    background-color: oklch(0.97 0 320);

    /* fonts */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: SpaceGrotesk;
    font-weight: 690;
    font-size: 4rem;
}
